
*.riv

P4-1_Toth/P4-1.bas

*.cbc

*.ddn

*.dis

*.hds

*.list

P4-1_Toth/P4-1.lpf

*.nam

*.oc

*.pcg

*.bas

*.lpf

*.rch

*.wel

.ipynb_checkpoints/P4.4_Flopy_Hubbertville_areal_model_with_pumping-checkpoint.ipynb

.ipynb_checkpoints/P4.3_Flopy_Hubbertville_areal_model-checkpoint.ipynb

*.nwt

*.upw
